html {
  font-size: 100%;
  color: white;
}

body {
  color: #402717;
  font-size: 0.9rem;
  background-color: #fff;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.section-title{
  display: inline-block;
  font-size: 2rem;
  margin-top: 15vh;
  margin-left: 67px;
  margin-bottom: 3vh;
  border-bottom: solid 1px #ffffff;
}
.h4,h4{
  font-size: 2.3rem!important;
  margin-top: 15vh!important;
  margin-left: 72px!important;
  margin-bottom: 3vh!important;
}
.h2, h2{
  font-size: 2.5rem!important;
  margin-top: 15vh!important;
  margin-left: 30px!important;
  margin-bottom: 5vh!important;
}

.h6, h6{
  font-size: 17px!important;
  margin-left: 35px!important;
  margin-bottom: 5vh!important;
}

.content-icon{
	max-width: 100px;
	max-height: 100px;
	padding: 0;
	margin: 0 3px 0px 20px;
  text-align: center;
}

main {
  margin-right: 40px;
  margin-left: 20px;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.smartBack {
  position: absolute;
  z-index: 0;
  height: 100vh;
  width: 100%;
  visibility: hidden;
}

/*=== 画像の表示エリア ================================= */
.slide {
  position: relative;
  overflow: hidden;
  /* 画像のサイズに合わせて変更ください */
  width: 100%;
  height: 100vh;
  margin: auto;
  /* サンプルは中央寄せの背景：白 */
  background: #fff;
}

/*=== 画像の設定 ======================================= */
.slide img {
  display: block;
  position: absolute;
  /* 画像のサイズを表示エリアに合せる */
  width: inherit;
  height: inherit;
  opacity: 0;
  animation: slideAnime 18s ease infinite;
}

/*=== スライドのアニメーションを段差で開始する ========= */
.slide img:nth-of-type(1) {
  animation-delay: 0s
}

.slide img:nth-of-type(2) {
  animation-delay: 6s
}

.slide img:nth-of-type(3) {
  animation-delay: 12s
}

/*=== スライドのアニメーション ========================= */
@keyframes slideAnime {
  0% {
    opacity: 0;
    transform: scale(.1, .1)
  }

  4% {
    opacity: 1;
    transform: scale(1, 1)
  }

  29% {
    opacity: 1;
    transform: scale(1, 1)
  }

  33% {
    opacity: 0;
    transform: scale(2, 2)
  }

  100% {
    opacity: 0;
    transform: scale(2, 2)
  }
}

header .title {
  position: absolute;
  z-index: 2;
  font-size: 50px;
  margin: 12px 30px;
}

header .concept1 {
  position: absolute;
  z-index: 2;
  font-size: 30px;
  margin: 220px 30px;
}

header .concept2 {
  position: absolute;
  z-index: 2;
  font-size: 50px;
  margin: 260px 40px;
}

/*　ハンバーガーボタン　*/
.hamburger {
  display: block;
  position: fixed;
  z-index: 3;
  right: 13px;
  top: 12px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}

.hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 6px;
  background: rgb(214, 194, 153);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 10px;
}

.hamburger span:nth-child(2) {
  top: 20px;
}

.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top: 16px;
  left: 6px;
  background: rgb(214, 194, 153);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background:  rgb(214, 194, 153);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

nav.globalMenuSp {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: #fff;
  background: #fff;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}

nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}

nav.globalMenuSp ul li:hover {
  background: #193278;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #d6c299;
  padding: 1em 0;
  text-decoration: none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;
  visibility: visible;
}

/*-------------------------------------------
About
-------------------------------------------*/
#about .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .text {
  color: #738851 text-align center;
}

.row {
  margin-top: 30px;
}
.col-sm-3 img {
  position: relative;
  border-radius: 50%;
  height: 280px;
  width: 280px;
}

.col-sm-2 content-icon img {
  position: relative;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.row p {
  position: relative;
  margin-top: 40px;
  margin: 40px 0px 0px 16px;
  font-size: 15px;
}

.profile-text{
	margin-left: 120px;
	font-size: 15px;
}

/*-------------------------------------------
contents1
-------------------------------------------*/


#contents1 ul {
  display: flex;
  justify-content: space-between;
}

#contents1 li {
  width: 10%;
  text-align: center;
}

#contents1 li img {
  border-radius: 50%;
  align-items: center;
}

#contents1 .message {
  display: block;
  margin-top: 7vh;
  text-align: center;
}

/*-------------------------------------------
contents2
-------------------------------------------*/
#contents2 ul {
  display: flex;
  justify-content: space-between;
}

#contents2 li {
  width: 32%;
}

#contents2 li img {
  width: 100%;
}

#contents2 a {
  display: block;
  text-align: right;
}

/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
  font-size: 0.5rem;
  padding: 20px 0;
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
#page_top a {
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

#page_top {
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}

#page_top a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #d6c299;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

#page_top a::after {
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  color: #402717;
}

/*-------------------------------
  -------------------------------*/
@media only screen and (max-width:700px) {
  .slide {
    visibility: hidden;
  }

  .smartBack {
    visibility: visible;
  }

  header .concept1 {
    position: absolute;
    z-index: 3;
    font-size: 3vh;
    writing-mode: vertical-rl;
    margin: 25vh 20vw;
  }

  header .concept2 {
    position: absolute;
    z-index: 2;
    font-size: 5vw;
    margin: 80vh 15vw;
  }

  .section-title {
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 15vh;
    margin-left: 72px;
    margin-bottom: 5vh;
    border-bottom: hidden;
  }
}
